body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 800px;
    /* background: -webkit-linear-gradient(left,black,gray);
    background: -moz-linear-gradient(left,black,gray);
    background: -o-linear-gradient(left,black,gray);
    background:linear-gradient(to right,black,gray); */


    background: -webkit-linear-gradient(left,black 50%,gray 50%);
    background: -moz-linear-gradient(left,black 50%,gray 50%);
    background: -o-linear-gradient(left,black 50%,gray 50%);
    background:linear-gradient(to right,black 50%,gray 50%);
}

h1,p 
{
    font-family: bhavika;
    width: 50%;
    height: auto;
    margin: auto;
    color: white;
    letter-spacing: 3px;
    font-size: 35px;
}

@font-face 
{
    src: url('../haland/Haland\ Free.otf');
    font-family: bhavika;
}