@keyframes back_anim {

    from 
    {
        margin: 0;
        padding: 0;
        top: 0;
        background-color: black;

    }
    to 
    {

        margin: 0;
        padding: 0;
        top: 0;
        background-color: red;

    }
}